.label-edit-modal-container {
  padding: 15px;
  max-height: 400px;
}

.label-edit-modal-list-container {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.label-edit-modal-heading {

}

.label-edit-modal-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

