.sidebar-main-container {
  padding: 5px;
}

.drawer-container-show {
  z-index: 0;
  width: 250px;
  font-size: 14px;
  font-family: sans-serif;
  background-color: #e8e8e8;

  &:focus {
	outline: none;
  }
  @media only screen and(max-width: 768px) {
	top: 0;
	bottom: 0;
	position: absolute;
	background-color: #fff;
	box-shadow: 0 0 16px rgba(0,0,0,.28);
  }
}

.sidebar-heading {
  color: #f8bd45;
  font-size: 20px;
  padding: 10px 0 0 25px;
  text-shadow: 1px 1px 1px #444;

  @media only screen and(min-width: 769px) {
	display: none;
  }
}

.drawer-container-hide {
  display: none;
}

.sidebar-list-container {
  margin: 0;
  padding: 10px 0;
  list-style-type: none;
}

.sidebar-list-item {
  display: flex;
  align-items: center;

  &:hover {
	background: rgba(0,0,0,0.12);
  }
}

.list-item-link {
  flex: 1;
  display: flex;
  min-height: 40px;
  padding: 4px 0 4px 25px;
}

.list-item {
  color: black;
  display: flex;
  align-items: center;
}

.svg-icon {
  opacity: .65;
}

.list-item-title {
  margin-left: 30px;
}

.label-container {
  display: flex;
  padding: 10px 30px;
  align-items: center;
  justify-content: space-between;
}

.create-label-link {
  flex: 1;
  display: flex;
  min-height: 40px;
  align-items: center;
  padding: 4px 0 4px 25px;
}
